      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <a href="#top" class="float-lg-right">Back to Top</a>
            <p>Bot developed by <a href="https://www.youtube.com/c/rootandroidandethicalhacker" target="_blank">Root Android and Ethical Hacker</a>.<br />
              Donate <font color="#3385ff"><i class="fa fa-paypal" aria-hidden="true"></i></font> <a href="https://www.paypal.me/ethicalhacker58" target="_blank"> buy me a coffee</a>.<br/>
              Send us<a href="https://forms.gle/s2aGRe9R5bMvxin7A" target="_blank"> a Feedback</a>.<br />
              Contact us <i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="https://fb.me/azooidbot" target="_blank"> on Facebook </a>.<br /> 
            </p>
              
          </div>
        </div>
      </footer>
  </body>
</html>