

<%- include('blocks/header', {bot, user, path}) %>
  <div class="jumbotron">
    <div>
      <h2 class="text-center"><centre>404 Page Not Found</centre></h2>
      <p class="text-center lead">
        <a class="btn btn-primary" href="/" role="button">Head back to Home</a>
      </p>
      
    </div>
  </div>
<% include ./blocks/footer %>