<%- include('blocks/header', {bot, user, path}) %>
  <div class="jumbotron">
    <div>
      <h2 class="lead">Something Went Wrong</h2>
      <p class="lead">
        <a class="btn btn-primary" href="/" role="button">Home</a>
      </p>
    </div>
  </div>
<% include ./blocks/footer %>