<%- include('blocks/header', {bot, user, path}) %>
  <div class="jumbotron">
    <div>
      <h1><%= bot.user.username %> Dashboard</h1>
      <p class="lead">A multipurpose bot with many features like Meme generation , fun commands , music commands , game commands , text edits , Moderation , ETC To get in depth info on bot visit <a href="/commands">here</a>.<br/>
      Bot is being hosted on free server so feel free to donate me to make bot better donate link is below</p>
      <p class="lead">
        <a class="btn btn-primary" href="/commands" role="button">Command Help »</a>
      </p>
    </div>
  </div>
<% include ./blocks/footer %>